@import '../vendor/bower_components/normalize-scss/normalize';

 // Primary Styles
 // Author:Simon Taggart

/*----------------------------------------------------------------------------------------------------------
#############################################  TYPOGRAPHY
----------------------------------------------------------------------------------------------------------*/
html {
    height: 100%
}

body {
    background:#eee;
    color:#666;
    font:400 62.5%/1 "Open Sans", "Gill Sans MT Pro", "Gill Sans MT", "Gill Sans", sans-serif;
    height: 100%;
    -webkit-font-smoothing:antialiased;
    text-align:center;
}

$ratio: 61.728%;

header {
    min-height: $ratio;
}

main {

    height: 100 - $ratio;
    width: 100%;

    > section {
        height: 100%;
    }

    > section:first-of-type {
        float:left;
        width: $ratio;
    }

    > section:last-of-type {
        float:left;
        width: 100 - $ratio;
    }
}
