/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-spacing:1px; }
input, select { vertical-align:middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }

 /* Primary Styles
    Author: Simon Taggart
 */
/*############################################################################################################################
################### TYPOGRAPHY
############################################################################################################################*/
body { background:#fefefe url(../images/bg.body.grey.gif); color:#333; font:62.5%/17px Arial, sans-serif; text-shadow:1px 1px 1px rgba(255, 255, 255, 1); -webkit-text-size-adjust }

h1 { color:#3b205c; font:500 15em/1.2533 "league-gothic-1","league-gothic-2",Arial,sans-serif; margin:0 0 0.2em; text-align:center; }
h2 { color:#A9C2C9; font:bold 2.6em/1.269 "museo-1","museo-2", Garamond, serif; margin:25px 0; }
h3 { color:#A9C2C9; font:bold 2.6em/1.269 "museo-1","museo-2", Garamond, serif;; margin:25px 0; }
	li h3 { font-size:1.529em; }
	.js h1, .js h2, .js h3 { visibility:hidden; }
	.wf-active h1, .wf-active h2, .wf-active h3 { visibility:visible; }
h4 {  }
p, li { font-size:1.7em; line-height:1.412; margin:25px 0; }
	li p { font-size:1em; }
li {  }
hr { display:block; height:1px; border:0; border-bottom:1px solid #ccc; border-top:1px solid #fff; margin:1.5em 0; padding:0; }
a, a:active, a:visited { color: #72577C; text-decoration:none; -webkit-transition:all 0.5s linear; -moz-transition:all 0.5s linear; -o-transition:all 0.5s linear; transition:all 0.5s linear; }
a:hover { background:#A9C2C9; color: #562155;}

/*# TABLES #*/
table { background:#fff; margin:45px 0; }
tr { background:#c2dde5; }
tr:nth-child(2n+1) { background:#d1e7ed; }
tr.selected td, tr.selected th { background:#8E8CA3; color:#333; }
thead th { background:#c2dde5; color:#555; font:bold 2.6em/1.269 "museo-1","museo-2", Garamond, serif; }
tbody th { text-align:left; }
th, td { color:#555; font-size:1.7em; line-height:1.412; padding:5px 45px 5px 10px; text-align:left; }
tbody th { width:270px; }
td { }

/*# TYPE EXTENSIONS #*/
footer h2 { color:#72577C; }
footer h3 { color:#72577C; font-size:20px; margin-top:10px; }



/*############################################################################################################################
################### STRUCTURE
############################################################################################################################*/
#wrapper { border-bottom:solid 1px #ccc; }
#container { overflow:hidden; }
header { float:none; margin:0 auto; }
#main { padding:0 0 65px; }
footer { background:#A9C2C9 url(../images/bg.footer.png); border-top:solid 1px #fff; overflow:hidden; padding: 25px 0; width:100%; }

/*############################################################################################################################
################### FURNITURE
############################################################################################################################*/
section { border-bottom:solid 1px #ccc; border-top:solid 1px #fff; overflow:hidden; }
	section:first-child { border-top:none }
	section.first-child { border-top:none }
	section:last-child { border-bottom:none; }
	section.last-child { border-bottom:none; }
	
/*############################################################################################################################
################### OBJECTS
############################################################################################################################*/
svg { display:block; margin:0 auto 25px; }

.site-thumbs { list-style:none; margin:45px 0 0; overflow:hidden; padding:0; width:100%; }
.site-thumbs li { margin-bottom:25px; margin-top:0; }
.site-thumbs img { display:block; }
.site-thumbs li a { border:solid 5px #ccc; -moz-border-radius:5px; border-radius:5px; display:block; }
	.site-thumbs li a:hover { border-color:#8E8CA3; }

.feature-social { list-style:none;margin:45px 0; overflow:hidden; padding:0; width:100%; }
  .feature-social-item { border-right:solid 1px #ccc; float:left; height:250px; margin:0; text-align:center; width:310px; }
  .feature-social li:last-of-type { border:none; }
.feature-social p { margin-top:0; padding:0 25px; }
.feature-social img { text-align:center; }

.widget-lastfm,
.widget-twitter,
.widget-flickr { border:none; }

#tweet-list ul { list-style:none; margin:0; padding:0; }
  #tweet-list li { font-size:1em; margin:0; }
    .tweet-list-time { text-align:left; }

.flickr-list { list-style:none; margin:0 auto; width:255px; }
.flickr-list li { border:none; float:left; height:auto; margin:0 5px 10px; padding:0; width:auto; }
.flickr-list img { display:block; }

.social-icons { list-style:none; margin:45px auto; overflow:hidden; padding:0; width:940px; }
.social-icons li { float:left; margin:0 30px; }
.social-icons a { background:#72577c url(../images/icon.email.png) no-repeat; display:block; height:70px; text-indent:-9999px; width:70px; }
	.social-icons a:hover { background-color:#8E8CA3; }
	.email a		{ background-image:url(../images/icon.email.png); }
	.twitter a	{ background-image:url(../images/icon.twitter.png); }
	.linkedin a	{ background-image:url(../images/icon.linkedin.png); }
	.tumblr a	{ background-image:url(../images/icon.tumblr.png); }
	.flickr a	{ background-image:url(../images/icon.flickr.png); }
	.lastfm a	{ background-image:url(../images/icon.lastfm.png); }
	.zootool a	{ background-image:url(../images/icon.zootool.png); }


@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

