// =============================================================================
// FLICKR FEED
// =============================================================================

.flickrFeed {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flickrFeed-item {
    background-repeat: no-repeat;
    background-size: cover;
    border: solid #fff;
    border-radius: 15px;
    border-width: 10px;
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.5);
    float: left;
    margin: 0;
    padding: 0 0 50%;
    width: 50%;
}

.flickrFeed-item-title {
    position: absolute;
}
