@import '../../scss/settings/settings';
@import '../../scss/tools/tools';

// =============================================================================
// FLICKR ICON
// =============================================================================

.flickrLogo {
  display: block;
  height: remCalc(48px);
  margin: 0 auto;
  position: relative;
  width: remCalc(54px);

  &:hover {
    .flickrLogo-dot {
      animation: pinkDot 900ms ease-in-out infinite;
      background-color: #fc1585;
    }

    .flickrLogo-dot--blue {
      animation-name: blueDot;
      background-color: #0f66d9;
    }
  }
}

.flickrLogo-dot {
  background: $body-fontColor;
  border-radius: remCalc(24px);
  display: inline-block;
  height: remCalc(24px);
  position: absolute;
  top: remCalc(12px);
  transition: fill $animation-transition;
  transform: translateX(0);
  width: remCalc(24px);
}

.flickrLogo-dot--blue {
  left: 0;
}

.flickrLogo-dot--pink {
  right: 0;
}

@keyframes blueDot {
  0% {
    z-index: 1;
  }
  50% {
    transform: translateX(31px);
  }
}
@keyframes pinkDot {
  50% {
    transform: translateX(-31px);
  }
}
