# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace

.__empty__
node_modules/
.sass-cache/
bower_components/
build/
