node_modules/
.DS_Store

# TanStack Start / Vite
/.vinxi/
/.nitro/
/.output/
/dist/
/out/

# production
/build

# debug
npm-debug.log*
bun-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

.mdx-data

.env
cypress/videos
cypress/screenshots/

.wrangler/
worker-configuration.d.ts
