// =============================================================================
// POSTS
// =============================================================================

.posts {
    text-align: center;
}

.posts-header-link {
    filter: grayscale(100%);

    &:hover {
        filter: grayscale(0%);
    }
}

.posts-list {
    list-style: none;
    margin-top: 2rem;
    padding: 0;
    text-align: left;
}

.posts-listItem {
    font-size: 1.6rem;
    margin-bottom: 3rem;
}