// =============================================================================
// POSTS
// =============================================================================

.posts {
  text-align: center;
}

.posts-header-link {
  filter: grayscale(100%);

  &:hover {
    filter: grayscale(0%);
  }
}
