////////////////////////////////////////////////////////////////////////////////
//
// SETTINGS FILE
//
// Purpose: Contains the settings for the entire site
//
////////////////////////////////////////////////////////////////////////////////

// =============================================================================
// GLOBAL SETTINGS
// =============================================================================
//
$fontSizeRoot:                  16px;
$fontSizeBase:                  1rem;
$lineHeightBase:                1.5;
