// =============================================================================
// TWEETS
// =============================================================================

$twitterBrand-color: #55acee;

.blabber {
    text-align: center;
}

.blabber-header {

    a {
        color: $twitterBrand-color;
        display: block;
        text-decoration: none;
    }

}

.icon--twitter svg {

    transition: fill $animation-transition;

    .blabber-header a:hover & {
        fill: $twitterBrand-color;
    }
}

.blabber-username {

    display: inline-block;
    font-family: $fontFamily-sans;
    font-weight: 300;
    transition: max-width $animation-transition;
    vertical-align: middle;

    @include breakpoint($breakpoint-small) {
        max-width: 0;
        overflow: hidden;

        .blabber-header a:hover & {
            max-width: 200px;
        }

    }

}

.blabber-tweets {

    background-color: #f9f9f9;
    display: block;
    font-size: remCalc(35);
    font-weight: 700;
    line-height: 1.6;
    padding:remCalc(40);

    @include breakpoint($breakpoint-small) {
        font-size: remCalc(30);
    }

    > p {
        margin: 0;
    }

    @include breakpoint($breakpoint-medium) {

        .tweet--larger {
            font-size: 2.6rem;
        }

        .tweet--large {
            font-size: 2rem;
        }

        .tweet--medium {
            font-size: 1.5rem;
        }

        .tweet--small {
            font-size: 1.3rem;
        }

        .tweet--smaller {
            font-size: 1rem;
        }

    }

}
