/* HTML5 Boilerplate normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display:block; }
audio, canvas, video { display:inline-block; *display:inline; *zoom:1; }
audio:not([controls]) { display:none; }
[hidden] { display:none; }
html { font-size:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
html, button, input, select, textarea { font-family:sans-serif; color:#222; }
body { margin:0; font-size:1em; line-height:1.4; }
::-moz-selection { background:#fe57a1; color:#fff; text-shadow:none; }
::selection { background:#fe57a1; color:#fff; text-shadow:none; }
a { color:#00e; }
a:visited { color:#551a8b; }
a:hover { color:#06e; }
a:focus { outline:thin dotted; }
a:hover, a:active { outline:0; }
abbr[title] { border-bottom:1px dotted; }
b, strong { font-weight:bold; }
blockquote { margin:1em 40px; }
dfn { font-style:italic; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
ins { background:#ff9; color:#000; text-decoration:none; }
mark { background:#ff0; color:#000; font-style:italic; font-weight:bold; }
pre, code, kbd, samp { font-family:monospace, serif; _font-family:'courier new', monospace; font-size:1em; }
pre { white-space:pre; white-space:pre-wrap; word-wrap:break-word; }
q { quotes:none; }
q:before, q:after { content:""; content:none; }
small { font-size:85%; }
sub, sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline; }
sup { top:-0.5em; }
sub { bottom:-0.25em; }
ul, ol { margin:1em 0; padding:0 0 0 40px; }
dd { margin:0 0 0 40px; }
nav ul, nav ol { list-style:none; list-style-image:none; margin:0; padding:0; }
img { border:0; -ms-interpolation-mode:bicubic; vertical-align:middle; }
svg:not(:root) { overflow:hidden; }
figure { margin:0; }
form { margin:0; }
fieldset { border:0; margin:0; padding:0; }
label { cursor:pointer; }
legend { border:0; *margin-left:-7px; padding:0; white-space:normal; }
button, input, select, textarea { font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle; }
button, input { line-height:normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor:pointer; -webkit-appearance:button; *overflow:visible; }
button[disabled], input[disabled] { cursor:default; }
input[type="checkbox"], input[type="radio"] { box-sizing:border-box; padding:0; *width:13px; *height:13px; }
input[type="search"] { -webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance:none; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0; }
textarea { overflow:auto; vertical-align:top; resize:vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color:#f0dddd; }
table { border-collapse:collapse; border-spacing:0; }
td { vertical-align:top; }
.chromeframe { margin:0.2em 0; background:#ccc; color:black; padding:0.2em 0; }

/*----------------------------------------------------------------------------------------------------------
#############################################  TYPOGRAPHY
----------------------------------------------------------------------------------------------------------*/
body { background:#fff; color:#333; font:400 62.5%/1 'Open Sans', "Gill Sans MT Pro", "Gill Sans MT", "Gill Sans", sans-serif; -webkit-font-smoothing:antialiased; }

h1, h2, h3, h4, h5, h6 { font-family:"Gill Sans MT Pro", "Gill Sans MT", "Gill Sans", sans-serif; font-weight:100; margin:0 0 20px; }
h1 { font-size:3em; margin:20px 0; text-align:center; }
h2 {  }
    li h2 {  } /*reset font size back to what it should be*/
h3 {  }
    li h3 {  } /*reset font size back to what it should be*/
h4 {  }
    li h4 {  } /*reset font size back to what it should be*/
h5 {  }
    li h5 {  } /*reset font size back to what it should be*/
h6 {  }
    li h6 {  } /*reset font size back to what it should be*/
p, li, dt, dd { font-size:1.4em; line-height:1.286; }
p { margin:0 0 20px; }
    li p, td p, li li { font-size:1em; } /*reset font size back to what it should be*/
ul, ol { margin:0 0 20px; padding:0 0 0 24px; }
ul ul { list-style:disc; }
ol { list-style:decimal; }
li { margin:0 0 5px; }
ul li {  }
ol li {  }
dl { margin:0 0 20px; padding:0; }
dt,
dd { margin:0; padding:0; }
dt {  }
dd {  }
a, a:active { color:#407627; text-decoration:none; }
a:hover, a:focus { color:#407627; text-decoration:underline; }
blockquote { margin:0 0 20px; padding:0 }
    blockquote p { margin:0; }
address { margin:0 0 20px; padding:0 }
    address p { margin:0; }

/*# TYPE EXTENSIONS #*/

/*----------------------------------------------------------------------------------------------------------
############################################# TABLES
----------------------------------------------------------------------------------------------------------*/
table { border-collapse:collapse; border-spacing:0; margin:0 0 18px; padding:0; width:100% }
	table caption { font-size:1.6em; font-weight:700; line-height:3; }
    table th, table td { border-top:1px solid #ddd; font-size:1.3em; line-height:18px; padding:8px; text-align:left; }
    table th { font-weight:700; vertical-align:bottom; }
    table td { vertical-align:top; }
    table thead:first-child tr th, table thead:first-child tr td { border-top:0; }
    table tbody + tbody { border-top:2px solid #ddd; }
.table-bordered { *border-collapse:collapsed; border-collapse:separate; border:1px solid #ddd; }
    .table-bordered th + th,
    .table-bordered td + td,
    .table-bordered th + td,
    .table-bordered td + th { border-left:1px solid #ddd; }
    .table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td { border-top:0; }
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th { background-color:#f9f9f9; }

/*# TABLE EXTENSIONS #*/
#league-results th { background:#ccc; }
#league-results tbody tr:nth-child(even) { background:#efefef; }
#league-results tbody tr:hover { background:#ddd; }

/*----------------------------------------------------------------------------------------------------------
############################################# FORMS 
----------------------------------------------------------------------------------------------------------*/
/*# RESET #*/
button, input, select, textarea { font-size:100%; margin:0; vertical-align:middle; }
button, input { *overflow:visible; line-height:normal; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0; }
button, input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance:button; cursor:pointer; height:auto; width:auto; }
input[type="search"] { -moz-box-sizing:content-box; -webkit-appearance:textfield; -webkit-box-sizing:content-box; box-sizing:content-box; }
    input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance:none; }
textarea { overflow:auto; vertical-align:top; }
input[type=checkbox], input[type=radio] { border:none; cursor:pointer; height:auto; line-height:normal; margin:3px 10px 3px 0; *margin-top:0; padding:0; width:auto; }
input,textarea,select{-moz-border-radius:3px;-webkit-border-radius:3px;border:1px solid #ccc;border-radius:3px;color:#808080;display:inline-block;padding:4px;width:210px}
select{padding:initial}
input[type=file] { background-color:#ffffff; border:initial; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; line-height:initial; padding:initial; }
select, input[type=file] { *height:auto; line-height:27px; *margin-top:4px; }
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] { background-color:#f5f5f5; border-color:#ddd; cursor:not-allowed; }
input[type=button],input[type=reset],input[type=submit]{background:noneheight:auto;width:auto}
select,input[type=file]{height:auto;line-height:27px;margin-top:4px}
select[multiple]{background-color:#ffffff;height:inherit}
textarea{height:auto}
input:focus,textarea:focus{-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1), 0 0 8px rgba(82,168,236,0.6);-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1), 0 0 8px rgba(82,168,236,0.6);border-color:rgba(82,168,236,0.8);box-shadow:inset 0 1px 3px rgba(0,0,0,0.1), 0 0 8px rgba(82,168,236,0.6);outline:0}
input[type=file]:focus,input[type=checkbox]:focus,select:focus{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;outline:1px dotted #666}

fieldset { border:0; margin-bottom:20px; width:100% }
    fieldset ol { list-style:none; margin:0 }
    fieldset li { margin-bottom:10px; }
    fieldset label { display:block; }
    fieldset label.inline-label { display:inline; float:none; vertical-align:middle; width:auto; }
    fieldset legend { color:#404040; display:block; font-size:19.5px; line-height:1; padding-left:150px; }
     .ie6 fieldset legend { padding:0 0 5px 145px; line-height:1.5 }
     .ie7 fieldset legend { padding:0 0 5px 145px; line-height:1.5 }
    fieldset.small { width:105px }
    fieldset.medium { width:210px }
    fieldset.large { width:447px }
fieldset input::-webkit-input-placeholder,
fieldset .placeholder { color:#ccc; }

/*----------------------------------------------------------------------------------------------------------
############################################# STRUCTURE 
----------------------------------------------------------------------------------------------------------*/
.page-container { margin:0 auto; padding:0 10px; width:940px; }
/*----------------------------------------------------------------------------------------------------------
############################################# FURNITURE 
----------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------
############################################# OBJECTS / ELEMENTS / PAGES
----------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------
#############################################  PLUGIN STYLING
----------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------
############################################# GLOBAL HELPERS
----------------------------------------------------------------------------------------------------------*/
.ir { display:block; border:0; text-indent:-999em; overflow:hidden; background-color:transparent; background-repeat:no-repeat; text-align:left; direction:ltr; }
.ir br { display:none; }
.hidden { display:none !important; visibility:hidden; }
.visuallyhidden { border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip:auto; height:auto; margin:0; overflow:visible; position:static; width:auto; }
.invisible { visibility:hidden; }
.off-screen-left { margin-left:-9999px; }
.off-screen-right { margin-right:-9999px; }
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }

/*----------------------------------------------------------------------------------------------------------
############################################# ALTERNATIVE LAYOUTS
----------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width:1024px) {
    html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
    /* *{ box-sizing:border-box } FTW http://paulirish.com/2012/box-sizing-border-box-ftw/ */
    * { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; } 
    .page-container { padding:0 30px; width:100%; }
}

@media only screen and (max-width:782px) {
	.page-container { width:100%; }
    #league-results th:nth-child(3),
    #league-results th:nth-child(4),
    #league-results th:nth-child(5),
    #league-results td:nth-child(3),
    #league-results td:nth-child(4),
    #league-results td:nth-child(5) { display:none; }
}

@media only screen and (max-width:480px) {
    #league-results th:nth-child(6),
    #league-results th:nth-child(7),
    #league-results td:nth-child(6),
    #league-results td:nth-child(7) { display:none; }
}

/*----------------------------------------------------------------------------------------------------------
#############################################  PRINT 
----------------------------------------------------------------------------------------------------------*/
@media print {
    * { background:transparent !important; color:black !important; box-shadow:none !important; text-shadow:none !important; filter:none !important; -ms-filter:none !important; } 
    a, a:visited { text-decoration:underline; }
    a[href]:after { content:" (" attr(href) ")"; }
    abbr[title]:after { content:" (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content:""; } 
    pre, blockquote { border:1px solid #999; page-break-inside:avoid; }
    thead { display:table-header-group; } 
    tr, img { page-break-inside:avoid; }
    img { max-width:100% !important; }
    @page { margin:0.5cm; }
    p, h2, h3 { orphans:3; widows:3; }
    h2, h3 { page-break-after:avoid; }
}
