// =============================================================================
// BUTTONS
// =============================================================================

.button {
    display: inline-block;
    border: solid 1px $link-color;
    border-radius: 2px;
    color: $link-color;
    font-family: $fontFamily-sans;
    font-size: remCalc(18px);
    padding: remCalc(15px) remCalc(30px);
    text-decoration: none;
    transition: all $animation-transition;

    &:hover,
    &:active,
    &:focus {
        background-color: $link-color;
        color: #fff;
    }
}
