/* HTML5 Boilerplate normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display:block; }
audio, canvas, video { display:inline-block; *display:inline; *zoom:1; }
audio:not([controls]) { display:none; }
[hidden] { display:none; }
html { font-size:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
html, button, input, select, textarea { font-family:sans-serif; color:#222; }
body { margin:0; font-size:1em; line-height:1.4; }
::-moz-selection { background:#fe57a1; color:#fff; text-shadow:none; }
::selection { background:#fe57a1; color:#fff; text-shadow:none; }
a { color:#00e; }
a:visited { color:#551a8b; }
a:hover { color:#06e; }
a:focus { outline:thin dotted; }
a:hover, a:active { outline:0; }
abbr[title] { border-bottom:1px dotted; }
b, strong { font-weight:bold; }
blockquote { margin:1em 40px; }
dfn { font-style:italic; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
ins { background:#ff9; color:#000; text-decoration:none; }
mark { background:#ff0; color:#000; font-style:italic; font-weight:bold; }
pre, code, kbd, samp { font-family:monospace, serif; _font-family:'courier new', monospace; font-size:1em; }
pre { white-space:pre; white-space:pre-wrap; word-wrap:break-word; }
q { quotes:none; }
q:before, q:after { content:""; content:none; }
small { font-size:85%; }
sub, sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline; }
sup { top:-0.5em; }
sub { bottom:-0.25em; }
ul, ol { margin:1em 0; padding:0 0 0 40px; }
dd { margin:0 0 0 40px; }
nav ul, nav ol { list-style:none; list-style-image:none; margin:0; padding:0; }
img { border:0; -ms-interpolation-mode:bicubic; vertical-align:middle; }
svg:not(:root) { overflow:hidden; }
figure { margin:0; }
form { margin:0; }
fieldset { border:0; margin:0; padding:0; }
label { cursor:pointer; }
legend { border:0; *margin-left:-7px; padding:0; white-space:normal; }
button, input, select, textarea { font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle; }
button, input { line-height:normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor:pointer; -webkit-appearance:button; *overflow:visible; }
button[disabled], input[disabled] { cursor:default; }
input[type="checkbox"], input[type="radio"] { box-sizing:border-box; padding:0; *width:13px; *height:13px; }
input[type="search"] { -webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance:none; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0; }
textarea { overflow:auto; vertical-align:top; resize:vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color:#f0dddd; }
table { border-collapse:collapse; border-spacing:0; }
td { vertical-align:top; }
.chromeframe { margin:0.2em 0; background:#ccc; color:black; padding:0.2em 0; }

 /*
 Primary Styles
 Author:Simon Taggart
 */
 body * { -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}
/*----------------------------------------------------------------------------------------------------------
#############################################  TYPOGRAPHY
----------------------------------------------------------------------------------------------------------*/
/*
font-family:"museo-1","museo-2",serif;
*/
body { background:#fff; color:#666; font:400 62.5%/1 'Open Sans', "Gill Sans MT Pro", "Gill Sans MT", "Gill Sans", sans-serif; -webkit-font-smoothing:antialiased; text-align:center; }
h1, h2, h3, h4, h5 { color:#46413B; font-family:"Gill Sans MT Pro", "Gill Sans MT", "Gill Sans", sans-serif; font-weight:100; }
h2, h3, h4 { margin:25px 0 0; }
h1 { font-size:9em; line-height:1.25; margin:1em 0; text-align:center; }
h2 { font-size:3em; line-height:1.25; }
h3 { font-size:4em; line-height:1.25; }
  li h3 { font-size:1.529em; }
h4 { font:700 6em/1.25 "museo-1","museo-2",serif; margin:100px 0; }
h5 { font:700 2em/1.25 "museo-1","museo-2",serif; margin:25px 0;}
p, li { font-size:2.5em; line-height:1.8; margin:0 0 25px; }
  li p { font-size:1em; }
li {  }
strong { font-weight:700; }
hr { display:block; height:1px; border:0; border-bottom:1px solid #ccc; border-top:1px solid #fff; margin:1.5em 0; padding:0; }
a, a:active, a:visited { color:#562155; text-decoration:none;
            -webkit-transition:all 0.2s linear;
            -moz-transition:all 0.2s linear;
            -o-transition:all 0.2s linear;
            transition:all 0.2s linear; }
a:hover { color:#72577C;}

/*# TABLES #*/
table { background:#fff; margin:45px 0; }
tr { background:#c2dde5; }
tr:nth-child(2n+1) { background:#d1e7ed; }
tr.selected td, tr.selected th { background:#8E8CA3; color:#333; }
thead th { background:#c2dde5; color:#555; font:bold 2.6em/1.269 "museo-1","museo-2", Garamond, serif; }
tbody th { text-align:left; }
th, td { color:#555; font-size:1.7em; line-height:1.412; padding:5px 45px 5px 10px; text-align:left; }
tbody th { width:270px; }
td { }

/*# TYPE EXTENSIONS #*/
.bio { text-align:left; }
.bio h2 {  }
.bio p { font-size:1.8em; }
footer h2 { color:#72577C; }
footer h3 { color:#72577C; font-size:20px; margin-top:10px; }


/*----------------------------------------------------------------------------------------------------------
#############################################  STRUCTURE
----------------------------------------------------------------------------------------------------------*/
header { border-top:solid 10px #9771a5; height:700px; border-bottom:solid 1px #eee; text-align:center;
    background:rgb(243,244,246); /* Old browsers */
    background:-moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,244,246,1) 30%); /* FF3.6+ */
    background:-webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,244,246,1) 30%); /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,244,246,1) 30%); /* Opera 11.10+ */
    background:-ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,244,246,1) 30%); /* IE10+ */
    background:linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,244,246,1) 30%); /* W3C */
}
#wrapper { border-bottom:solid 1px #ccc; }
#container { overflow:hidden; }
#main { padding:0 0 65px; }
footer { background:#A9C2C9 url(../images/bg.footer.png); border-top:solid 1px #fff; overflow:hidden; padding:25px 0; width:100%; }

/*----------------------------------------------------------------------------------------------------------
#############################################  FURNITURE
----------------------------------------------------------------------------------------------------------*/
section { margin:0 auto; padding:25px 0; width:960px; }

.sticky-links { background:#9771a5; position:fixed; text-align:center; top:-150px; width:100%; z-index:100;
        -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
        -o-box-shadow:0 0 15px rgba(0,0,0,0.6);
        -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
        box-shadow:0 0 15px rgba(0,0,0,0.6);
        -webkit-transition:all 800ms ease;
        -moz-transition:all 800ms ease;
        -o-transition:all 800ms ease;
        transition:all 800ms ease; }
  .sticky-links.on { top:0; }

/*----------------------------------------------------------------------------------------------------------
#############################################  OBJECTS
----------------------------------------------------------------------------------------------------------*/
#scroll-indication { color:#46413B; font-size:9em; position:absolute; top:-80px; }
  #scroll-indication.go { top:20px;
              -webkit-animation:scroll-direction 1500ms infinite ease-in-out;
              -moz-animation:   scroll-direction 1500ms infinite ease-in-out;
              -ms-animation:    scroll-direction 1500ms infinite ease-in-out;}

@-webkit-keyframes scroll-direction {
  0%   { top:-80px; }
  50% { top:-20px; }
  100% { top:-80px; }
}
@-moz-keyframes scroll-direction {
  0%   { top:-80px; }
  50% { top:-20px; }
  100% { top:-80px; }
}
@-ms-keyframes scroll-direction {
  0%   { top:-80px; }
  50% { top:-20px; }
  100% { top:-80px; }
}

.contact-thingy-majigs { margin:80px 0; }
  .contact-thingy-majigs-sticky { margin:0; }
.contact-thingy-majigs li { display:inline-block; margin:0 25px; vertical-align:middle; width:250px; }
  .contact-thingy-majigs-sticky li { font-size:1.8em; line-height:1.3 }
.contact-thingy-majigs a { color:#46413B; }
  .contact-thingy-majigs-sticky a { color:#fff; }
  .contact-thingy-majigs a:hover { color:#72577C; }
    .contact-thingy-majigs-sticky a:hover { color:#333; }
  .contact-thingy-majigs i { display:inline-block; font-size:2em; vertical-align:middle; }

/*# FIGURES AND EXTENIONS #*/
figure { overflow:hidden; position:relative; }
  figcaption { top:-150px; color:#333; font:700 2em/1.25 "museo-1","museo-2",serif; margin:25px 0; position:absolute; text-align:center; width:100%; }
  figure:hover img { opacity:0.3; }
    figure:hover figcaption { top:20px; }
.deco-image { border:solid 1px #ddd; border-radius:10px; margin:50px auto; padding:10px; width:612px;
      -moz-box-shadow:0px 0px 20px rgba(0,0,0,0.2);
      -o-box-shadow:0px 0px 20px rgba(0,0,0,0.2);
      -webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.2);
      box-shadow:0px 0px 20px rgba(0,0,0,0.2)
      }

/*# WORK EXAMPLES #*/
.work-example { height:620px; margin-bottom:150px; min-height:1px; }
  .work-example:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
  .work-example figure,
  .work-example-detail { border:solid 1px #ddd; border-radius:0 10px 10px 0; float:left; padding:10px;
              -moz-box-shadow:0px 0px 20px rgba(0,0,0,0.2);
              -o-box-shadow:0px 0px 20px rgba(0,0,0,0.2);
              -webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.2);
              box-shadow:0px 0px 20px rgba(0,0,0,0.2) }
  .work-example-detail { border-radius:10px 0 0 10px; height:546px; padding:10px 30px; text-align:left; width:238px; }

    .work-example-detail h5 { margin-bottom:10px; }
    .work-example-detail p,
    .work-example-detail li { font-size:1.4em; line-height:1.5; }

    .work-example:nth-of-type(odd) figure { border-radius:10px 0 0 10px; }
    .work-example:nth-of-type(odd) .work-example-detail { border-radius:0 10px 10px 0; }

  .work-tags { list-style:none; margin:0; padding:0; }
    .work-tags li { background:#835682; border:solid 1px #6c486b; border-radius:5px; color:#fff; display:inline-block; font-size:12px; line-height:1; padding:4px 8px 5px; margin:0 0 10px; text-shadow:1px 1px 0 rgba(0,0,0,0.5);}

/*# TWEET #*/
.tweet-list ul { list-style:none; }
.tweet-list li { font-size:3em; }

/*# FLICKR LIST #*/
.flickr-list { list-style:none; min-height:1px; }
  .flickr-list:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
  .flickr-list li { display:inline-block; margin:10px;}
  .flickr-list figure { margin:0; width:240px; }

/*# LASTFM #*/
.widget-lastfm { border:solid 1px #ddd; border-radius:10px; display:inline-block; padding:10px;
        -moz-box-shadow:0px 0px 20px rgba(0,0,0,0.2);
        -o-box-shadow:0px 0px 20px rgba(0,0,0,0.2);
        -webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.2);
        box-shadow:0px 0px 20px rgba(0,0,0,0.2) }
  .widget-lastfm a:hover img { opacity:0.6; }

/*----------------------------------------------------------------------------------------------------------
#############################################  SCROLL SHIT EXTRAS
----------------------------------------------------------------------------------------------------------*/
.js .scrollblock-fade { opacity:0; }
#who { height:1200px; }
#move { height:200px; }
#bio { height:720px; }
#stuff { height:325px; }
#tweets { height:540px; }
#pics { height:980px; }
#albums { height:800px; }

/*----------------------------------------------------------------------------------------------------------
#############################################  MEDIA QUERY FOR LARGER SCREENS
----------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width:35em) {

}

/*----------------------------------------------------------------------------------------------------------
#############################################  HELPERS
----------------------------------------------------------------------------------------------------------*/
.ir { display:block; border:0; text-indent:-999em; overflow:hidden; background-color:transparent; background-repeat:no-repeat; text-align:left; direction:ltr; *line-height:0; }
.ir br { display:none; }
.hidden { display:none !important; visibility:hidden; }
.visuallyhidden { border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip:auto; height:auto; margin:0; overflow:visible; position:static; width:auto; }
.invisible { visibility:hidden; }
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { *zoom:1; }

/*----------------------------------------------------------------------------------------------------------
#############################################  PRINT
----------------------------------------------------------------------------------------------------------*/
@media print {
  * { background:transparent !important; color:black !important; box-shadow:none !important; text-shadow:none !important; filter:none !important; -ms-filter:none !important; }
  a, a:visited { text-decoration:underline; }
  a[href]:after { content:" (" attr(href) ")"; }
  abbr[title]:after { content:" (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
  pre, blockquote { border:1px solid #999; page-break-inside:avoid; }
  thead { display:table-header-group; }
  tr, img { page-break-inside:avoid; }
  img { max-width:100% !important; }
  @page { margin:0.5cm; }
  p, h2, h3 { orphans:3; widows:3; }
  h2, h3 { page-break-after:avoid; }
}

