// =============================================================================
// HEADER
// =============================================================================

.header {
    background: url(/images/kyoto.jpg) 50% darken($body-bg, 5%);
    background-size: cover;
    color: #efefef;
    min-height: $ratio;
    position: relative;

    @include breakpoint($breakpoint-landscape ($breakpoint-xxsmall $breakpoint-medium)) {
        min-height: $ratio * 1.4;
    }

    &:before {
        background-image:
            linear-gradient(
                rgba(0, 0, 0, 0), rgba(0, 0, 0, .6)
            )
        ;
        bottom: 0;
        content: "";
        display: block;
        min-height: 40%;
        position: absolute;
        width: 100%;
    }
}

.header-avatar {
    border: solid 5px #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .7);
    border-radius: 200px;
    left: 0;
    margin:0 auto;
    position: absolute;
    right: 0;
    top: 5rem;
    width: remCalc(200px);
}

.header-title {
    bottom: 3rem;
    letter-spacing: - remCalc(1px);
    margin: 0;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 6px rgba(0, 0, 0, .4);
    width: 100%;

    small {
        font-size: 2rem;
        display: block;
    }
}
