@import '../../scss/settings/settings';
@import '../../scss/tools/tools';

.siteMain {
  display: grid;
  grid-template-columns: $ratio (100-$ratio);
  margin: 0 auto;
  max-width: 1400px;

  &--post {
    grid-template-columns: 100%;
    max-width: 960px;
    padding: 0 remCalc(24px);
  }
}
