// =============================================================================
// FOOTER
// =============================================================================

.siteFooter {
  border-top: solid 1px #efefef;
  margin: 0 auto;
  padding-top: 3rem;
  width: 60%;
}
