@import '../../scss/settings/settings';
@import '../../scss/tools/tools';

.postArticle {
  line-height: 1.6;
  margin-bottom: remCalc(40px);
  padding-top: remCalc(100px);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl {
    margin: remCalc(24px) 0 remCalc(16px);
  }

  pre[class*='language-'] {
    margin: remCalc(34px) 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
    margin-top: remCalc(50px);
  }

  h2 {
    font-size: remCalc(40px);
  }
  h3 {
    font-size: remCalc(30px);
  }
  h3 a {
    font-size: remCalc(18px);
  }
  h4 {
    font-size: remCalc(24px);
  }
  h5 {
    font-size: remCalc(24px);
  }
  h6 {
    font-size: remCalc(20px);
  }

  p,
  ul,
  ol,
  dl,
  table,
  pre {
    font-size: remCalc(22px);

    @include breakpoint($breakpoint-xsmall) {
      font-size: remCalc(18px);
    }
  }

  ul,
  ol {
    padding-left: remCalc(28px);
  }

  blockquote {
    background: #efefef;
    border-left: solid 6px #efefef;
    font-style: italic;
    margin: remCalc(40px) 0;
    padding: remCalc(30px) remCalc(40px);
    position: relative;

    &::before,
    &::after {
      content: '“';
      position: absolute;
      font-size: remCalc(60px);
      font-weight: 900;
      line-height: 1;
    }

    &::before {
      left: -25px;
      top: -5px;
    }

    &::after {
      content: '”';
      bottom: -40px;
      right: 0;
    }
  }

  blockquote p {
    font-size: remCalc(20px);
    margin: 0;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: remCalc(54px) 0;
    table-layout: auto;
    width: 100%;
  }

  thead th {
    background: #fff;
  }

  th {
    text-align: left;
  }

  th,
  td {
    border: solid 1px #efefef;
    padding: remCalc(10px) remCalc(20px);
  }

  tr:nth-child(odd) {
    background: lighten(#efefef, 4%);
  }

  tr:hover {
    background: lighten(#efefef, 1%);
  }
}
