@import '../../scss/settings/settings';
@import '../../scss/tools/tools';

.postArticle {
  grid-column: 1 / 3;
  line-height: 1.6;
  margin-bottom: remCalc(40px);
  padding-top: remCalc(100px);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl,
  table {
    margin: remCalc(24px) 0 remCalc(16px);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
    margin-top: remCalc(50px);
  }

  h1 {
  }
  h2 {
    font-size: remCalc(40px);
  }
  h3 {
    font-size: remCalc(30px);
  }
  h4 {
    font-size: remCalc(24px);
  }
  h5 {
    font-size: remCalc(24px);
  }
  h6 {
    font-size: remCalc(20px);
  }

  p,
  ul,
  ol,
  dl,
  table {
    font-size: remCalc(18px);
  }
}
