@import '../../scss/settings/settings';
@import '../../scss/tools/tools';

.homeSection-header {
  margin-bottom: 2rem;

  h2 {
    font-size: remCalc(38);
  }

  @include breakpoint($breakpoint-medium) {
    h2 {
      font-size: remCalc(24);
    }

    margin-bottom: 1.5rem;
  }
}

.homeSection-header--pix {
  text-align: center;
}

.homeSection-header-link {
  display: inline-block;
}
