@import '../../scss/settings/settings';
@import '../../scss/tools/tools';

.flickrFigure {
  &:hover .flickrFigure-image {
    animation: flickImageHover 200ms ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.flickrFigure-image {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@keyframes flickImageHover {
  100% {
    filter: saturate(0.6);
    filter: blur(7px);
  }
}

.flickrFigure-title {
  background: rgba(255, 255, 255, 0.8);
  bottom: 0;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  display: table-cell;
  height: 100%;
  left: 0;
  opacity: 0;
  padding: remCalc(20px);
  position: absolute;
  transform: scale(0.9);
  transform-style: preserve-3d;
  text-align: center;
  vertical-align: middle;
  width: 100%;

  .flickrFigure:hover & {
    animation: flickTitleHover 200ms ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  p {
    font-size: remCalc(20px);
  }
}

@keyframes flickTitleHover {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.flickrFigure-title-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
