// =============================================================================
// ICONS
// =============================================================================

$icon-color: $body-fontColor;

.icon {
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    width: 24px;

    @include breakpoint($breakpoint-xsmall) {
        height: 48px;
        width: 48px;
    }

    > svg {
        fill: $icon-color;
        height: 100%;
        width: 100%;
    }
}
