// =============================================================================
// FOOTER LINKS
// =============================================================================

.footerLinks {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footerLink {
  display: inline-block;
  padding: 0 3rem 2rem;
  vertical-align: middle;

  .icon {
    fill: #cdcdcd;
    transition: fill 100ms ease-in;
  }

  a:hover .icon {
    fill: #444;
  }
}
