@import '~breakpoint-sass/stylesheets/breakpoint';
@import '../../scss/settings/settings';
@import '../../scss/tools/tools';

.latestTweet {
  background-color: #f9f9f9;
  display: block;
  font-size: remCalc(35);
  font-weight: 700;
  line-height: 1.6;
  padding: remCalc(40);

  @include breakpoint($breakpoint-small) {
    font-size: remCalc(30);
  }

  > p {
    margin: 0;
  }

  @include breakpoint($breakpoint-medium) {
    &--larger {
      font-size: 2.6rem;
    }

    &--large {
      font-size: 2rem;
    }

    &--medium {
      font-size: 1.5rem;
    }

    &--small {
      font-size: 1.3rem;
    }

    &--smaller {
      font-size: 1rem;
    }
  }
}
