// =============================================================================
// LAYOUT
// =============================================================================

main {

    margin: 0 auto;
    max-width: 1400px;

    > section {
        height: 100%;
        min-height: 100px;
        width: 100%;

        @include breakpoint($breakpoint-small) {
            float:left;
            padding: 0 remCalc(20);
            width: $ratio;
        }

        @include breakpoint($breakpoint-large) {
            padding: 0 remCalc(40);
        }
    }

}

.ego {
    width: 100%;
}

.blabber,
.tunez {

    @include breakpoint($breakpoint-small) {
        width: 100 - $ratio;
    }

}
