// =============================================================================
// LAYOUT
// =============================================================================

.section {
  @include clearfix();
  height: 100%;
  min-height: 100px;
  padding: 0 remCalc(40) remCalc(60);
  width: 100%;

  @include breakpoint($breakpoint-medium) {
    float: left;
    padding: 0 remCalc(20) remCalc(40);
    width: $ratio;
  }

  @include breakpoint($breakpoint-large) {
    padding: 0 remCalc(40) remCalc(40);
  }
}

.section-header {
  margin-bottom: 2rem;
  font-size: remCalc(38);

  @include breakpoint($breakpoint-medium) {
    font-size: remCalc(24);
    margin-bottom: 1.5rem;
  }
}
