@import '../../scss/settings/settings';
@import '../../scss/tools/tools';

.posts-list {
  list-style: none;
  margin-top: 2rem;
  padding: 0;
  text-align: left;

  &--fullList {
    margin-top: remCalc(120px);
  }
}

.posts-listItem {
  font-size: remCalc(30px);
  margin-bottom: 3rem;

  @include breakpoint($breakpoint-xsmall) {
    font-size: remCalc(24px);
  }

  &-article {
  }

  &-heading {
    font-size: remCalc(40px);
    margin: 0;

    @include breakpoint($breakpoint-xsmall) {
      font-size: remCalc(30px);
    }
  }

  &-date {
    font-family: $fontFamily-sans;
    font-size: remCalc(20x);
    margin: 0;

    @include breakpoint($breakpoint-xsmall) {
      font-size: remCalc(16px);
    }
  }

  &-excerpt {
    font-size: remCalc(24px);
    line-height: 1.5;
    margin: remCalc(10px) 0;

    @include breakpoint($breakpoint-xsmall) {
      font-size: remCalc(18px);
    }
  }
}
